<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">


	<bean id="pmName" class="org.baali.spring.model.PrimeMinister">
		<property name="name" value="Narendra Modi" />
	</bean>
	<!-- CONSTRUCTOR EXAMPLE -->
	<bean id="consdemo" class="org.baali.spring.model.ConstructorArgDemo">
		<constructor-arg value="Balaji. M"></constructor-arg>
	</bean>
	<!-- REF EXAMPLE -->
	<bean id="outerBean" class="org.baali.spring.model.OuterBean">
		<property name="innerBean" ref="innerBean"></property>
	</bean>
	<bean id="innerBean" class="org.baali.spring.model.InnerBean">
		<property name="id" value="1"></property>
		<property name="name" value="IN-1"></property>
	</bean>
	<!-- OUTER BEAN INNER EXAMPLE -->
	<bean id="outerBeanInner" class="org.baali.spring.model.OuterBeanInner">
		<property name="innerBean">
			<bean class="org.baali.spring.model.InnerBean">
				<property name="id" value="2" />
				<property name="name" value="IN-2" />
			</bean>
		</property>
	</bean>
	<bean id="listOuterBean" class="org.baali.spring.model.Users">
		<property name="usersList">
			<list>
				<bean class="org.baali.spring.model.User">
					<property name="id" value="1" />
					<property name="name" value="Balaji. M" />
				</bean>
				<bean class="org.baali.spring.model.User">
					<property name="id" value="2" />
					<property name="name" value="Boopathi. M" />
				</bean>
			</list>
		</property>
	</bean>
	<!-- OUTER BEAN LIST INNER EXAMPLE -->
	<bean id="outerBeanUsers" class="org.baali.spring.model.OuterBeanUsers">
		<property name="usersList">
			<list>
				<ref bean="outerUser1"/>
				<ref bean="outerUser2"/>
			</list>
		</property>
	</bean>

	<bean id="outerUser1" class="org.baali.spring.model.User">
		<property name="id" value="100" />
		<property name="name" value="Balaji. M" />
	</bean>
	<bean id="outerUser2" class="org.baali.spring.model.User">
		<property name="id" value="101" />
		<property name="name" value="Monika. B" />
	</bean>
	<!-- auto wire by name -->
	<bean id="autoWireByName" class="org.baali.spring.model.SpringAutoWireByName" autowire="byName" />
	<bean id="user" class="org.baali.spring.model.User">
		<property name="name" value="Balaji. M" />
		<property name="id" value="101" />
	</bean>
	<!-- Singleton scope ( default ) -->
	<bean id="singletonScope1" class="org.baali.spring.model.SpringSingletonScope" scope="singleton">
		<property name="name" value="Balaji. M" />
		<property name="id" value="101" />
	</bean>
	<!-- Prototype scope -->
	<bean id="prototypeScope" class="org.baali.spring.model.SpringPrototypeScope" scope="prototype">
		<property name="name" value="Balaji. M" />
		<property name="id" value="101" />
	</bean>
	<!-- Bean init and destroy Interface type -->
	<bean id="init1" class="org.baali.spring.model.InitAndDestroyMethodClassLevel">
		<property name="name" value="Revathy" />
	</bean>
	<!-- Bean init and destroy xml Attribute type -->
	<bean id="init2" class="org.baali.spring.model.InitAndDestroyXML" init-method="afterPropertiesSet" destroy-method="destroy">
		<property name="name" value="Balaji. Ma" />
	</bean>
	<!-- Read values from properties file -->
	<bean id="propBean" class="org.baali.spring.model.PropertiesBeanFactoryPostProcessor">
		<property name="name" value="${prop.name}"></property>
	</bean>
	<!-- Default spring class to Read values from properties file -->
	<bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="locations" value="spring-data.properties" />
	</bean>
</beans>
